<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="header">
        <img src="/static/insta.png" alt="" >
    </div>
    <div class="content1">
        Cristiano Ronaldo
    </div>
    <div class="content2">
        <img src="/static/ronaldo.jpg" alt="">
    </div>

    <div class="footer">
        ♥ 100 likes
    </div>
</body>
</html>

<style>
    .header{
        height: 100px;
        background-color: #134C7B;
        text-align: center;
    }
    .content1{
        color: #134C7B;
    }
    .content2{

    }
    .footer{
        color: #134C7B;
    }
</style>